In [1]:
# make analyzer.py visible
import sys
sys.path.insert(0, './../src/')

import analyzer_binary as ana
import pandas as pd
import numpy as np

# Graphics
import matplotlib as mpl
import matplotlib.pyplot as plt
import seaborn as sns
from matplotlib import rc
import matplotlib.dates as mdates

# rc('text', usetex=True)
# rc('text.latex', preamble=r'\usepackage{cmbright}')
# rc('font', **{'family': 'sans-serif', 'sans-serif': ['Helvetica']})

# Magic function to make matplotlib inline;
%matplotlib inline

# This enables SVG graphics inline. 
# There is a bug, so uncomment if it works.
# %config InlineBackend.figure_formats = {'png', 'retina'}

# JB's favorite Seaborn settings for notebooks
rc = {'lines.linewidth': 2, 
      'axes.labelsize': 18, 
      'axes.titlesize': 18, 
      'axes.facecolor': 'DFDFE5'}
sns.set_context('notebook', rc=rc)
sns.set_style("dark")

mpl.rcParams['xtick.labelsize'] = 16 
mpl.rcParams['ytick.labelsize'] = 16 
mpl.rcParams['legend.fontsize'] = 14

In [2]:
df = pd.read_csv('tidy_sleep_df.csv', index_col=0)

In [7]:
df.head()

,index,ID,Date,HS time,phenotype,number,freq,total,suppressors
0,0,A-7-3.3,7/21/17,15,L,aaaaaaaaaaa,0.000000,11,0
1,1,A-7-3.1,7/21/17,15,L,sssaaaaa,0.375000,8,3
2,2,PS7244,7/22/17,15,L,aaaaaaaaaaaaaaaaa,0.000000,17,0
3,3,A-10-3a,7/22/17,15,L,aaaaaaaaaaaaaaaaas,0.055556,18,1
4,4,A-10-2a,7/22/17,15,L,aaaaaaaaaaaa,0.000000,12,0

In [12]:
df2 = df[df.total != 0]

In [ ]:
ana.calculate_pvalues(df2[df2.phenotype == 'L'], 'ID', 'total', 'suppressors', 10**5)

#4 cores detected for this machine.
#Starting 4 processes for bootstrapping...